.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 1380px;
  margin: 0 auto;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #232323;
}

.main
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}